<div class="main-content" *ngIf="members" style="margin-top: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title "><b>ข้อมูล สมาชิก</b></h2>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger btn-block" style="font-size: 16px;"
                                    (click)="open(content)">เพิ่มสมาชิก</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive " style="cursor: pointer;">
                            <table class="table">
                                <thead class=" text-primary" style="text-align: center;">
                                    <th>ชื่อ</th>
                                    <th>นาม-สกุล </th>
                                    <th>อายุ </th>
                                    <th>อีเมล</th>
                                    <th>ที่อยู่</th>
                                </thead>
                                <tbody *ngIf="members && members.length > 0">
                                    <tr *ngFor="let member of members" style="text-align: center;">
                                        <td>{{member.name}}</td>
                                        <td>{{member.lastname}}</td>
                                        <td>{{member.age}}</td>
                                        <td>{{member.email}}</td>
                                        <td>{{member.Adress}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-basic-title"><b>เพิ่มสมาชิก</b></h3>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); EmptyData()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="ชื่อ..." type="text" name="name" [(ngModel)]="ngMember.name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="นาม-สกุล..." type="text" name="lastname" [(ngModel)]="ngMember.lastname">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="อายุ..." type="text" name="age" [(ngModel)]="ngMember.age">
                            </mat-form-field>
                        </div>
                        <div class="col-md-10">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="อีเมล..." type="email" name="email" [(ngModel)]="ngMember.email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="ที่อยู่..." type="text" name="adress" [(ngModel)]="ngMember.adress" >
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- {{ngMember|json}} -->
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" style="font-size: 16px;">บันทึก</button>
                    <div class="clearfix"></div>
                </form>
            </div>  
        </ng-template>
    </div>
</div>

<!-- <div class="card-body">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">ชื่อ</label>
        <div class="col-sm-10">
            <input matInput type="text" class="form-control"  name="name"  placeholder="name" [(ngModel)]="ngCreate.name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">นาม-สกุล</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  name="lastname" [(ngModel)]="ngCreate.lastname" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">อายุ</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  name="age" [(ngModel)]="ngCreate.age" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">วันที่่เพิ่ม</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="daycreat" [(ngModel)]="ngCreate.daycreate">
        </div>
    </div>
    {{ngCreate|json}}
</div> -->