<div class="main-content" *ngIf="DataUser" style="margin-top: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title "><b>ข้อมูล สมาชิก</b></h2>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger btn-block" style="font-size: 16px;"
                                    (click)="showModal()">เพิ่มสมาชิก</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive ">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>ชื่อ</th>
                                    <th>นาม-สกุล </th>
                                </thead>
                                <tbody *ngIf="DataUser">
                                    <tr *ngFor="let item of DataUser.data">
                                        <td>{{item.firstName}}</td>
                                        <td>{{item.lastName}}</td>
                                        <td><button type="button" class="btn btn-danger btn-block" style="font-size: 16px;" (click)="deleteUser(item.id)">ลบข้อมูล</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
        <div class="modal fade bd-example-modal-lg" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-basic-title"><b>เพิ่มสมาชิก</b></h3>
                        <button type="button" class="close" data-dismiss="modal" (click)="EmptyData()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ชื่อ" type="text" name="name"
                                            [(ngModel)]="ngMember.name">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="นาม-สกุล" type="text" name="lastname"
                                            [(ngModel)]="ngMember.lastName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Username" type="text" name="age"
                                            [(ngModel)]="ngMember.user">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" type="password" name="email"
                                            [(ngModel)]="ngMember.pass">
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- {{ngMember|json}} -->
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                style="font-size: 16px;" (click)="createUer()">บันทึก</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- <div class="card-body">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">ชื่อ</label>
        <div class="col-sm-10">
            <input matInput type="text" class="form-control"  name="name"  placeholder="name" [(ngModel)]="ngCreate.name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">นาม-สกุล</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  name="lastname" [(ngModel)]="ngCreate.lastname" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">อายุ</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"  name="age" [(ngModel)]="ngCreate.age" >
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label text-muted">วันที่่เพิ่ม</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="daycreat" [(ngModel)]="ngCreate.daycreate">
        </div>
    </div>
    {{ngCreate|json}}
</div> -->