
<div class="main-content"  style="margin-top: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon">
                        <div class="row">
                            <div class="col-10">
                                <h3 class="card-title "><b>รายงานร้านค้า</b></h3>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger btn-block" style="font-size: 16px;"s>เพิ่มรายงาน</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive " style="cursor: pointer;">
                            <table class="table">
                                <thead class=" text-primary" style="text-align: center;">
                                    <th>ID</th>
                                    <th>ชื่อ</th>
                                    <th>นาม-สกุล </th>
                                    <th>อายุ </th>
                                    <th>วันที่เพิ่ม</th>
                                </thead>
                                <tbody >
                                    <tr  style="text-align: center;">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>